os
numpy
pandas
joblib
scikit-learn # for machine learning utilities
librosa # for audio processing
opencv-python # for video processing
opencv-contrib-python
deepface
transformers
tensorflow
tf-keras